<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🧼</text></svg>">
    <title>LyricScrub</title>
    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- This website uses Open Sans! -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,800;1,800&display=swap" rel="stylesheet">
    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <!-- Custom styles for this site-->
    {% if isdark %}
    <link id="pagestyle" href="../static/dark.css" rel="stylesheet">
    {% else %}
    <link id="pagestyle" href="../static/style.css" rel="stylesheet">
    {% endif %}

  </head>

  <body id="index">
    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog">
	<div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Info</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
	    LyricScrub is a web application used to pull lyrics for an album or track and highlight potentially offensive words and phrases. <br><br>
	    Please be patient retrieving the lyrics can take some time.
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
	</div>
      </div>
    </div>
    <div class="container-fluid d-flex h-100">
      <div class="col text-center justify-content-center align-self-center">
	<!-- Default form login -->
	<form id = "mainform" class="text-center border border-secondary p-5" action="/" method="POST">

          <p class="h2 mb-4">LyricScrub</p>

          <!-- Artist -->
          <div class="container-fluid mb-4">
	    <div class="form-floating">
              <input type="text" name="artist" class="form-control artist {% if badartist %}is-invalid{% endif %}" placeholder="Artist" id="floatingArtist">
	      <label class="inputLabel" for="floatingArtist">Artist</label>
	    </div>
            {% if badartist %}
            <div class="text-danger error">
              <small>Please input valid artist name.</small>
            </div>
            {% endif %}
          </div>

          <div class="container-fluid mb-4">
            <!-- Album -->
	    <div class="form-floating"> 
              <input type="text" name="album" class="form-control album {% if badalbum %}is-invalid{% endif %}" placeholder="Album or Track" id="floatingAlbum">
	      <label class="inputLabel" for="floatingAlbum">Album or Track</label>
	    </div>
            {% if badalbum %}
            <div class="text-danger error">
              <small>Please input valid album or track name.</small>
            </div>
            {% endif %}
          </div>

          <!-- Submit -->
          <button id="submit" name="action" class="btn btn-primary mb-4 submit" type="submit">
            <span id="sp1" class="spinner-border spinner-border-sm d-none"></span>
            Album Search
          </button>
	  <button id="submitsong" name="action" value="track" class="btn btn-primary mb-4 submit" type="submit">
            <span id="sp2" class="spinner-border spinner-border-sm d-none"></span>
            Track Search
          </button>
          <button type="button" class="btn btn-secondary mb-4" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            <i class="fa fa-question-circle" aria-hidden="true"></i>
          </button>
          {% if notfound and not suggest %}
          <div class="alert alert-danger error" role="alert">
            {{notfound | safe}}
          </div>
          {% endif %}

          {% if suggest %}
          <div class="d-flex justify-content-center error">
            <h6>Did you mean...</h6>
          </div>
          <div class="d-flex btn-group-vertical mb-4 error">
            {% for i in range(0, len) %}
            <button class="btn btn-outline-primary submit" name ="action" value="{% if tracksearch %}track{% endif %}" onClick="autoFill('{{suggest[i][0].replace("'","\\'") | safe}}', '{{suggest[i][1].replace("'","\\'") | safe}}')">
              {{suggest[i][0] | safe}} - {{suggest[i][1] | safe}}
            </button>
            {% endfor %}
          </div>
          {% endif %}

          <div class="d-flex justify-content-around">
            <div>
              <!-- Dark Mode -->
              <div class="form-check form-switch">
                <input type="checkbox" name="mode" class="form-check-input" id="toggle-mode" onclick="toggleMode()" {% if isdark %}checked{% endif %}>
                <label for="toggle-mode">Dark Mode</label>
              </div>
            </div>
          </div>
	</form>
	<!-- Default form login -->
      </div>
    </div>
  </body>


  <!-- JS code -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
  <!-- Custom javascript -->
  <script src="../static/mode.js"></script>
  <script src="../static/nanobar.min.js"></script>
  <!-- Custom javascript -->
  <script>var nanobar = new Nanobar();</script>
  
</html>
